
	#box5 {
		position: relative;
		top : 5px;
		text-align : center;

	}
	p{
		text-align: justify;
	}

	#box2 { 
		position : relative;
		top : 0px;
		margin: 0 auto;
	}
	#box3 { 
		position: absolute;
		top : 200px;
		left: 300px;
		margin: 0 auto;
	}
	body {
		margin: 0 auto;
	}
	#box1 {
		position: relative;
		top : -600px;
		left : 20px;
		width: 150px;
		height: 400px;
		padding: 10px;
		background-color: #faebd7;
		border: thick double #efa74a;
	}
	button {
		display: inline-block;
		background-color: #fc9b2d;
		border-radius: 10px;
		border: 4px double #cccccc;
		color: #eeeeee;
		text-align: center;
		font-size: 18px;
		padding: 5px;
		width: 400px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	  }
	  button2 {
		display: inline-block;
		background-color: #fc9b2d;
		border-radius: 10px;
		border: 4px double #cccccc;
		color: #eeeeee;
		text-align: center;
		font-size: 18px;
		padding: 5px;
		width: 120px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
	  }
