#box1 {
    position: absolute;
    top : 20px;
    width: 150px;
    height: 1078px;
    padding: 10px;
    background-color: #faebd7;
    border: thick double #efa74a;
}

p{
    text-align: justify;
}
div { 
    text-align: center;
    position: absolute;
    left : 250px;  
}
