
#box5 {
	position: relative;
	top : 5px;
	text-align : center;
	<br>
	<br>
}
#box1 {
    position: absolute;
    top : 200px;
    left : 20px;
    width: 150px;
    height: 500px;
    padding: 10px;
    background-color: #faebd7;
    border: thick double #efa74a;
}

p{
    text-align: justify;
}

#box2 { 
	position : absolute;
	top : 150px;
	left : 325px
}
#box3 { 
	position: relative;
	top : 500px
}
#box4 { 
	position : relative;
	top : 10px;
	center
}
